root {
    --color-primary: #fb2056;
    --color-primary-hover: #da1c4b;
    --color-light-gray: #f5f5f5;
    --cor-preto-claro: #191919;
    --color-white: #ffffff;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}




body {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;

}

p {
    margin-bottom: 20px;

}

.container {
    margin: 0 outo;
    max-width: 1024px;
}

#divider {

}

.btn {

}


/* page header start */
#page-header {
    background-color: var(--color-light-black);


#page-header-logo {

}

#page-header-content {

}

/* page header end */
























